<!DOCTYPE html>
<html>
<head>
	<title>blokd proto</title>
	<meta content='width=device-width, initial-scale=1.0' name='viewport' />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Merienda" rel="stylesheet">
</head>
<body></body>
script(async type="text/javascript" src="/static/zepto.min.js")
script(async type="text/javascript" src="/static/main.bundle.js")
</html>
